{% extends 'posts/base.html' %}
{% block content %}
<div class="container mt-5">
    <style>
        .login-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 70vh; /* Регулируем высоту контейнера */
        }

        .login-container h2 {
            margin-bottom: 20px;
            text-align: center;
        }

        .login-form {
            width: 100%;
            max-width: 400px; /* Максимальная ширина формы */
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .login-form input {
            width: 100%; /* Поля занимают всю ширину контейнера формы */
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ced4da;
            border-radius: 4px;
        }

        .btn-primary {
            width: 100%; /* Кнопка занимает всю ширину контейнера формы */
            padding: 10px;
            font-size: 16px;
        }

        .signup-link {
            text-align: center;
            margin-top: 20px;
        }
    </style>

    <div class="login-container">
        <h2>Login</h2>
        <form method="POST" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p class="signup-link">
            Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>.
        </p>
    </div>
</div>
{% endblock %}
